.article{
    height: 200vh;
    position: relative;
    width: 300px;
    left: 10%;
    top: -150px;
    margin-top: 300px;
    box-shadow: 0 0 8px 8px white inset;
    

}


.article p{
    margin-top: 100px;
}

.articlesList{
    margin-top: 200px;
}

.pictureInPost{
    position: relative;
    width: 300px;
    right: 10%;
    box-shadow: 0 0 8px 8px white inset;
}