
.head{
    position: relative;
    opacity: 100%;
    height: 100vh;
    background-color: rgb(255, 0, 0);
    color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     
 }


    
.head h1{
    font-size: 200px;
    letter-spacing: 10px;
    }
    
.cont1{
     height: 300vh;
     
     background: linear-gradient(55deg, #c400f5 0%, #1f86db 51%, #2cb5e8 85%)
     
}
  
.head h1{
    font-size: 40px;
    letter-spacing: 10px;
}

img{
    position: relative;
    left: 15px;
    width: 270px;
    margin: 10px;
    
}

@media only screen and (min-width: 768px) {
  




    .head{
        opacity: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .head h1{
        font-size: 200px;
        letter-spacing: 10px;
    }
    
    .cont1{
        height: 300vh;
        background: linear-gradient(55deg, #c400f5 0%, #1f86db 51%, #2cb5e8 85%)
    }
    
    
    
    img{
        width: 400px;
    }
    
    .firstPic{
        position: absolute;
        left: 190px;
        top: 820px;
    }


    
    .secondPic{
        position: absolute;
        left: 490px;
        top: 1120px;
    }
    
    .thirdPic{
        position: absolute;
        left: 890px;
        top: 820px;
    }
    
    .forthPic{
        position: absolute;
        left: 190px;
        top: 1480px;
    }
    
    .fifthPic{
        position: absolute;
        left: 990px;
        top: 1400px;
    }

    .sixthPic{
        position: absolute;
        left: 990px;
        top: 1900px;
    }

    .seventhPic{
        position: absolute;
        left: 520px;
        top: 1820px;
    }

    .eighthPic{
        position: absolute;
        left: 90px;
        top: 2000px;
    }

    
  }