.articlesList{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom:150px;
    align-items: center;
   
    
}


.listContainer h1{
    font-size: 40px;
    position: relative;
    left: 20px;
    color: rgb(0, 0, 0);
    border-bottom: solid white;
}

.listContainer{
    position: relative;
    top: 550px;
    margin: 20px;
   
   
}
.listContainer ul{
    border: solid black;
    border-radius: 10px;
    padding: 30px;
}
.listContainer ul li {
    list-style: none;
    
    
}

.listContainer ul li a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-decoration: none;
    width: 300px;
    
}


.listContainer ul {
    
    width: 300px;
    height: 300px;
    margin: 20px;
  
}

.pictureArticle{
    position: relative;
    width: 100%;
    
}

.sanahinCss{
   width: 95%;
}
.picFrame{
    width: 250px;
    position: relative;
    left: -30px;
}

.nav{
    cursor:auto;
}

@media only screen and (min-width: 768px) {




   


}