.nav{
    margin-left: 150px;
    width: 300px;
    font-size: 30px;
    color: white;
   
    
  }
  
.nav a{
  position: relative;
    right: 10px;
    color: white;
    list-style: none;
    text-decoration: none;

}  

